autoconf
automake
apt-utils
nano
vim
wget
htop
less
bash-completion
man
libfftw3-dev
bc
build-essential
cmake
git
gfortran
libgsl-dev
libboost-dev
libboost-filesystem-dev
libboost-program-options-dev
libcgal-dev
libreadline-dev
libncurses-dev
libexpat1-dev
pkg-config
curl
libtool
unzip
